body{
    background-color: blanchedalmond;
}

.box{
    height: 150px;
    width: 150px;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    padding: 40px 0;
    margin: 15px 15px;
}

.classic-bg{
    background-color: lightseagreen;
}

.fizz-box{
    background-color: #f08080;
    border: 10px solid #eb6c6c;
}

.buzz-box{
    background-color: #90ee90;
    border: 10px solid #6ae06a;
}

.fizz-buzz-box{
    background-color: #ff7f50;
    border: 10px solid #f86530;
}