body{
    background-color: blanchedalmond;
}

.col-2.box{
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
}

.classic-bg{
    background-color: lightseagreen;
}

.fizz-box{
    background-color: lightcoral;
}

.buzz-box{
    background-color: lightgreen;
}

.fizz-buzz-box{
    background-color: coral;
}